<article class="border review">
  <div class="row">
  <header class="col-sm-3">
    <p><b><%= review.user.email %></b></p>
    <p><b>Rating:</b> <%= review.rating %></p>
  </header>

  <section class="col-sm-5">
    <%= review.description %>
  </section>
  </div>

</article>